body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:270px;
  top:30px;
  width:330px;
  height:610px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:610px;
}
#u1 {
  position:absolute;
  left:2px;
  top:297px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:270px;
  top:30px;
  width:330px;
  height:90px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:90px;
}
#u3 {
  position:absolute;
  left:2px;
  top:37px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:280px;
  top:40px;
  width:66px;
  height:16px;
  color:#666666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:356px;
  top:40px;
  width:244px;
  height:32px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:32px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:270px;
  top:135px;
  width:330px;
  height:35px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:35px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:280px;
  top:144px;
  width:66px;
  height:16px;
  color:#666666;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:351px;
  top:145px;
  width:10px;
  height:16px;
  color:#009900;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:270px;
  top:600px;
  width:330px;
  height:40px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:326px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:458px;
  top:612px;
  width:52px;
  height:16px;
  color:#CCCCCC;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:270px;
  top:187px;
  width:330px;
  height:35px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:35px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:280px;
  top:196px;
  width:66px;
  height:16px;
  color:#666666;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:346px;
  top:192px;
  width:84px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23 {
  position:absolute;
  left:640px;
  top:154px;
  width:210px;
  height:100px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:100px;
}
#u24 {
  position:absolute;
  left:2px;
  top:42px;
  width:206px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:430px;
  top:200px;
  width:210px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u26 {
  position:absolute;
  left:270px;
  top:245px;
  width:330px;
  height:75px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:75px;
}
#u27 {
  position:absolute;
  left:2px;
  top:30px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:280px;
  top:254px;
  width:66px;
  height:16px;
  color:#666666;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:280px;
  top:285px;
  width:50px;
  height:16px;
}
#u31 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u30_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u32 {
  position:absolute;
  left:356px;
  top:284px;
  width:44px;
  height:16px;
}
#u33 {
  position:absolute;
  left:16px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u32_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34 {
  position:absolute;
  left:270px;
  top:330px;
  width:330px;
  height:35px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:35px;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:280px;
  top:339px;
  width:66px;
  height:16px;
  color:#666666;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:270px;
  top:375px;
  width:330px;
  height:115px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:115px;
}
#u39 {
  position:absolute;
  left:2px;
  top:50px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:280px;
  top:384px;
  width:66px;
  height:16px;
  color:#666666;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:280px;
  top:420px;
  width:60px;
  height:60px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u43 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:302px;
  top:436px;
  width:15px;
  height:28px;
  color:#999999;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:270px;
  top:500px;
  width:330px;
  height:90px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:90px;
}
#u47 {
  position:absolute;
  left:2px;
  top:37px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:280px;
  top:504px;
  width:40px;
  height:16px;
  color:#666666;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:280px;
  top:528px;
  width:310px;
  height:52px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:52px;
}
#u51 {
  position:absolute;
  left:2px;
  top:18px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:520px;
  top:335px;
  width:70px;
  height:25px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u53 {
  position:absolute;
  left:730px;
  top:270px;
  width:240px;
  height:370px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:370px;
}
#u54 {
  position:absolute;
  left:2px;
  top:177px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:730px;
  top:270px;
  width:240px;
  height:60px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u56 {
  position:absolute;
  left:2px;
  top:22px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:738px;
  top:292px;
  width:66px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:803px;
  top:286px;
  width:84px;
  height:25px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u60 {
  position:absolute;
  left:730px;
  top:347px;
  width:240px;
  height:193px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:193px;
}
#u61 {
  position:absolute;
  left:2px;
  top:88px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:740px;
  top:351px;
  width:40px;
  height:16px;
  color:#666666;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:740px;
  top:375px;
  width:220px;
  height:145px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:145px;
}
#u65 {
  position:absolute;
  left:2px;
  top:64px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:760px;
  top:575px;
  width:84px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u67 {
  position:absolute;
  left:854px;
  top:575px;
  width:84px;
  height:25px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u68 {
  position:absolute;
  left:356px;
  top:335px;
  width:44px;
  height:25px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u69 {
  position:absolute;
  left:590px;
  top:347px;
  width:140px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:123px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:140px;
  height:1px;
}
