body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:270px;
  top:30px;
  width:420px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:270px;
  top:80px;
  width:420px;
  height:100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:270px;
  top:50px;
  width:420px;
  height:150px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:150px;
}
#u5 {
  position:absolute;
  left:2px;
  top:67px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
