body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:310px;
  top:60px;
  width:310px;
  height:510px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:510px;
}
#u1 {
  position:absolute;
  left:2px;
  top:247px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:310px;
  top:40px;
  width:310px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:306px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:310px;
  top:40px;
  width:150px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:310px;
  top:40px;
  width:80px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:540px;
  top:40px;
  width:80px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:310px;
  top:196px;
  width:310px;
  height:110px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:110px;
}
#u11 {
  position:absolute;
  left:2px;
  top:47px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:319px;
  top:210px;
  width:66px;
  height:16px;
  color:#999999;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:385px;
  top:210px;
  width:53px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:319px;
  top:236px;
  width:66px;
  height:16px;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:385px;
  top:236px;
  width:65px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:319px;
  top:257px;
  width:66px;
  height:16px;
  color:#999999;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:385px;
  top:257px;
  width:53px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:320px;
  top:278px;
  width:66px;
  height:16px;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:386px;
  top:278px;
  width:28px;
  height:16px;
  color:#FF0000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:310px;
  top:86px;
  width:310px;
  height:106px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:106px;
}
#u29 {
  position:absolute;
  left:2px;
  top:45px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:319px;
  top:98px;
  width:66px;
  height:16px;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:385px;
  top:98px;
  width:53px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:319px;
  top:124px;
  width:66px;
  height:16px;
  color:#999999;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:385px;
  top:124px;
  width:65px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:319px;
  top:146px;
  width:66px;
  height:16px;
  color:#999999;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:385px;
  top:146px;
  width:66px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:320px;
  top:167px;
  width:66px;
  height:16px;
  color:#999999;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:386px;
  top:167px;
  width:28px;
  height:16px;
  color:#FF0000;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:510px;
  top:269px;
  width:100px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u47 {
  position:absolute;
  left:510px;
  top:161px;
  width:100px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
